<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/2.0.8/css/dataTables.bootstrap5.css">
    <title>Document</title>
</head>

<body>


    <div class="container">
        <table id="myTable" name="myTable" class="table table-striped" style="width:100%">

            <thead>
                <tr class="bg-primary text-white">

                    <th scope="col">ID</th>
                    <th scope="col">NOMBRE</th>
                    <th scope="col">APELLIDO</th>
                    <th scope="col">DNI</th>
                    <th scope="col">FECHA NAC</th>
                    <th scope="col">SEXO</th>
                    <th scope="col">ALTA</th>
                    <th scope="col">PLAN OS</th>

                </tr>
            </thead>

            <tbody>

            </tbody>

        </table>

    </div>

   
    <script src="https://code.jquery.com/jquery-3.7.1.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.0/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.datatables.net/2.0.8/js/dataTables.js"></script>
    <script src="https://cdn.datatables.net/2.0.8/js/dataTables.bootstrap5.js"></script>
    <script src="./js/datatable.js"></script>
</body>

</html>